* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  outline: none;
}

:root {
  --Red: hsl(14, 86%, 42%);
  --dark-red: hsl(14, 88%, 28%);
  --Green: hsl(159, 69%, 38%);
  --white: hsl(0, 0%, 100%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);

  --btn-padding: 0.7rem 2rem;
  --card-border-radius: 0.5rem;

  --product-name-font: 1rem;

  --container-width-lg: 80%;
  --container-width-sm: 94%;
  --transition: all 300ms ease;
}

body {
  font-family: "Red Hat Text", serif;
  background-color: var(--Rose-100);
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: var(--card-border-radius);
}

.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}

h1 {
  color: var(--Rose-900);
  font-size: 2rem;
}

h3 {
  color: var(--Red);
}

h1,
h3 {
  margin-bottom: 1.5rem;
}

p {
  font-size: var(--product-name-font);
}

.btn {
  padding: var(--btn-padding);
  border: 1px solid var(--Rose-500);
  border-radius: 2rem;
  transition: var(--transition);
}

.btn-primary {
  color: var(--Rose-900);
}

.btn span {
  color: var(--Red);
  margin-right: 0.3rem;
}

.btn:hover {
  color: var(--Red);
  border-color: var(--Red);
}
/* Main */
main {
  padding: 4rem 0;
}

.main-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.product-card button {
  position: relative;
  top: -1rem;
  left: 3.5rem;
}

.products .product-card img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.product-card p {
  margin-bottom: 0.3rem;
}

.product-card .category {
  color: var(--Rose-500);
  font-size: 0.9rem;
}

.product-card .name {
  color: var(--Rose-900);
}

.product-card .price {
  color: var(--Red);
}

/* --------------------------Cart Section ----------------------------*/
.cart-section {
  background-color: var(--white);
  padding: var(--btn-padding);
  border-radius: var(--card-border-radius);
  height: max-content;
  text-align: center;
}

.cart-section h3 {
  margin-top: 1rem;
  text-align: left;
}
.add-items-msg {
  color: var(--Rose-500);
  margin: 1rem 0;
}

.item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--Rose-100);
}

.item-info > p {
  margin-bottom: 0.5rem;
}

.item-price {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.item-price span:nth-child(1) {
  color: var(--Red);
}
.item-price span:nth-child(2) {
  color: var(--Rose-500);
}
.item-price span:nth-child(3) {
  color: var(--Rose-900);
}

.remove-item {
  border: 1px solid var(--Rose-400);
  border-radius: 50%;
  padding: 0.25rem;
  cursor: pointer;
  transition: var(--transition);
}

.remove-item:hover {
  border-color: var(--Rose-900);
}

.remove-item img {
  width: 100%;
  height: auto;
}

.grand-total {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grand-total span {
  font-size: 0.9rem;
  color: var(--Rose-500);
}

.grand-total h2 {
  color: var(--Rose-900);
}

.cart-message {
  display: flex;
  justify-content: center;
  border-radius: var(--card-border-radius);
  background-color: var(--Rose-100);
  padding: 1rem 0.5rem;
  gap: 1rem;
}

.cart-message p {
  font-size: 0.9rem;
  color: var(--Rose-900);
}

.confirm-btn {
  margin: 1rem 0;
  padding: var(--btn-padding);
  border-radius: 2rem;
  width: 100%;
  background-color: var(--Red);
  color: var(--Rose-100);
  transition: var(--transition);
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: var(--dark-red);
}
/* confirmed order container */

.confirmed-order-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  display: grid;
  place-items: center;
  /* display: none; */
}

.card {
  background-color: var(--white);
  padding: var(--btn-padding);
  width: 30%;
  border-radius: var(--card-border-radius);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.card-header h1 {
  margin-bottom: 0.5rem;
}
.card p {
  font-size: 0.9rem;
  color: var(--Rose-500);
  margin-bottom: 0.5rem;
}
/* Card Body */

.card-body {
  padding: var(--btn-padding);
  background-color: var(--Rose-50);
  border-radius: var(--card-border-radius);
}

.card-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Rose-100);
  padding: 1rem 0;
}

.card-item-img {
  margin-right: 1rem;
}

.card-item img {
  width: 3rem;
  height: 3rem;
}
.card-item-info {
  display: flex;
  flex-direction: column;
}

.card-item-info .name {
  color: var(--Rose-900);
  margin: 0;
  font-size: var(--product-name-font);
}

.card-item-info .card-item-price {
  display: flex;
  gap: 0.5rem;
}

.card-item-info span {
  margin-top: 0.5rem;
}

.card-item > span {
  margin-left: auto;
  font-size: 0.9rem;
  color: var(--Rose-900);
}

.card-item-price span:first-child {
  color: var(--Red);
}

.card-item-price span:nth-child(2) {
  color: var(--Rose-400);
  font-size: 0.9rem;
}

.card-body .card-item:last-child {
  margin-bottom: 1rem;
}
